<% content_for :css do %>
<%= stylesheet_link_tag 'weddings' %>
<% end %>

<script type="text/javascript">
  wedding_id = <%= @wedding.id %>
</script>
<div id="left">
  <ul class="services">
    <% @wedding.service_types.each do |service_type| %>
    <li data-service-type-id="<%= service_type.id %>">
      <%= service_type.name %>
    </li>
    <% end %>
    <li data-service-type-id="4" class="selected">
      Traiteur
    </li>
  </ul>
</div>
<div id="content"></div>