
/*------------------------------------------------------------------------------------------ MIXINS --------------------*/

@mixin radius($radius: 0.3em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}


@mixin radiusRight($radius: 0.3em) {
	-webkit-border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-moz-border-radius-topright: $radius;
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin radiusLeft($radius: 0.3em) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-topleft: $radius;
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin radiusBottom($radius: 0.3em) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin radiusTop($radius: 0.3em) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin radiusTopRight($radius: 0.3em) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	border-top-right-radius: $radius;
}

@mixin radiusTopLeft($radius: 0.3em) {
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
}

@mixin radiusBottomRight($radius: 0.3em) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;
}

@mixin radiusBottomLeft($radius: 0.3em) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
}

@mixin uniform_gradient($bottom, $top){
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, $bottom),
        color-stop(1, $top)
    )
}


@mixin transition($time: 0.3s) {
  -webkit-transition : all $time ease-in-out;
  -moz-transition    : all $time ease-in-out;
  -ms-transition     : all $time ease-in-out;
  -o-transition      : all $time ease-in-out;
  transition         : all $time ease-in-out;
}

@mixin transition-out($time: 0.3s) {
  -webkit-transition : all $time ease-out;
  -moz-transition    : all $time ease-out;
  -ms-transition     : all $time ease-out;
  -o-transition      : all $time ease-out;
  transition         : all $time ease-out;
}

@mixin transition-in($time: 0.3s) {
  -webkit-transition : all $time ease-in;
  -moz-transition    : all $time ease-in;
  -ms-transition     : all $time ease-in;
  -o-transition      : all $time ease-in;
  transition         : all $time ease-in;
}

html body form input {
  border: 1px solid black;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
}

html body form input[type="submit"], button {
  @include uniform_gradient(#a20003, #e10000);
  display: inline-block;
  padding: 5px 10px 6px 10px;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  cursor: pointer;
  border: 1px solid #880003;
  //border: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  //box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
  box-shadow: 0 0 3px rgba(0,0,0, 0.3), inset 1px 1px 0px rgba(255,255,255,0.3);
  @include radius(5px);
}

html body form input[type="submit"]:hover, button:hover {
  box-shadow: 0 0 0px rgba(0,0,0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.9);
  //border: none;
}

.togglable {
  .click_toggler {
    cursor: pointer;
  }
  .click_toggler:before {
    content: "+";
    padding-right: 1em;
    font-size: 0.7em;
  }
  .toggler_content {
    overflow: hidden;
    max-height: 0px;
    @include transition-out(0.5s);
  }
}

.togglable.open {
  .click_toggler:before {
    content: "-";
    padding-right: 1em;
    font-size: 0.7em;
  }
  .toggler_content {
    max-height: 400px;
    @include transition-out(0.5s);
  }
}