/*---------------------------------------------------------------------------------------------- Fonts -------------------------*/
@font-face {
    font-family: 'HelveticaLight';
    src: asset-url('helveticalight-webfont.eot', image);
    src: asset-url('helveticalight-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticalight-webfont.woff', image) format('woff'),
         asset-url('helveticalight-webfont.ttf', image) format('truetype'),
         asset-url('helveticalight-webfont.svg#HelveticaLight', image) format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueRegular';
    src: asset-url('helveticaneue-webfont.eot', image);
    src: asset-url('helveticaneue-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-webfont.svg#HelveticaNeueRegular', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueUltraLightItalic';
    src: asset-url('helveticaneue-ultralightitalic-webfont.eot', image);
    src: asset-url('helveticaneue-ultralightitalic-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-ultralightitalic-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-ultralightitalic-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-ultralightitalic-webfont.svg#HelveticaNeueUltraLightItalic', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: asset-url('helveticaneue-ultralight-webfont.eot', image);
    src: asset-url('helveticaneue-ultralight-webfont.eot?#iefix', image) format('embedded-opentype', image),
         asset-url('helveticaneue-ultralight-webfont.woff', image) format('woff', image),
         asset-url('helveticaneue-ultralight-webfont.ttf', image) format('truetype', image),
         asset-url('helveticaneue-ultralight-webfont.svg#HelveticaNeueUltraLight', image) format('svg', image);
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLightItalic';
    src: asset-url('helveticaneue-lightitalic-webfont.eot', image);
    src: asset-url('helveticaneue-lightitalic-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-lightitalic-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-lightitalic-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-lightitalic-webfont.svg#HelveticaNeueLightItalic', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: asset-url('helveticaneue-light-webfont.eot', image);
    src: asset-url('helveticaneue-light-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-light-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-light-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-light-webfont.svg#HelveticaNeueLight', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueItalic';
    src: asset-url('helveticaneue-italic-webfont.eot', image);
    src: asset-url('helveticaneue-italic-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-italic-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-italic-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-italic-webfont.svg#HelveticaNeueItalic', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueCondensedBold';
    src: asset-url('helveticaneue-condensedbold-webfont.eot', image);
    src: asset-url('helveticaneue-condensedbold-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-condensedbold-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-condensedbold-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-condensedbold-webfont.svg#HelveticaNeueCondensedBold', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueCondensedBlack';
    src: asset-url('helveticaneue-condensedblack-webfont.eot', image);
    src: asset-url('helveticaneue-condensedblack-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-condensedblack-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-condensedblack-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-condensedblack-webfont.svg#HelveticaNeueCondensedBlack', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueBoldItalic';
    src: asset-url('helveticaneue-bolditalic-webfont.eot', image);
    src: asset-url('helveticaneue-bolditalic-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-bolditalic-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-bolditalic-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-bolditalic-webfont.svg#HelveticaNeueBoldItalic', image) format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: asset-url('helveticaneue-bold-webfont.eot', image);
    src: asset-url('helveticaneue-bold-webfont.eot?#iefix', image) format('embedded-opentype'),
         asset-url('helveticaneue-bold-webfont.woff', image) format('woff'),
         asset-url('helveticaneue-bold-webfont.ttf', image) format('truetype'),
         asset-url('helveticaneue-bold-webfont.svg#HelveticaNeueBold', image) format('svg');
    font-weight: normal;
    font-style: normal;
}
/*------------------------------------------------------------------------------------------ MIXINS --------------------*/

@mixin radius($radius: 0.3em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}


@mixin radiusRight($radius: 0.3em) {
	-webkit-border-bottom-right-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-moz-border-radius-topright: $radius;
	border-bottom-right-radius: $radius;
	border-top-right-radius: $radius;
}
@mixin radiusLeft($radius: 0.3em) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-topleft: $radius;
	border-bottom-left-radius: $radius;
	border-top-left-radius: $radius;
}

@mixin radiusBottom($radius: 0.3em) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin radiusTop($radius: 0.3em) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin radiusTopRight($radius: 0.3em) {
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	border-top-right-radius: $radius;
}

@mixin radiusTopLeft($radius: 0.3em) {
	-webkit-border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	border-top-left-radius: $radius;
}

@mixin radiusBottomRight($radius: 0.3em) {
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-right-radius: $radius;
}

@mixin radiusBottomLeft($radius: 0.3em) {
	-webkit-border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	border-bottom-left-radius: $radius;
}

@mixin uniform_gradient($bottom, $top){
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, $bottom),
        color-stop(1, $top)
    )
}


@mixin transition($time: 0.3s) {
  -webkit-transition : all $time ease-in-out;
  -moz-transition    : all $time ease-in-out;
  -ms-transition     : all $time ease-in-out;
  -o-transition      : all $time ease-in-out;
  transition         : all $time ease-in-out;
}

@mixin transition-out($time: 0.3s) {
  -webkit-transition : all $time ease-out;
  -moz-transition    : all $time ease-out;
  -ms-transition     : all $time ease-out;
  -o-transition      : all $time ease-out;
  transition         : all $time ease-out;
}

@mixin transition-in($time: 0.3s) {
  -webkit-transition : all $time ease-in;
  -moz-transition    : all $time ease-in;
  -ms-transition     : all $time ease-in;
  -o-transition      : all $time ease-in;
  transition         : all $time ease-in;
}

html body form input {
  border: 1px solid black;
  box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.2);
}

html body form input[type="submit"], button {
  @include uniform_gradient(#a20003, #e10000);
  display: inline-block;
  padding: 5px 10px 6px 10px;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  cursor: pointer;
  border: 1px solid #880003;
  //border: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  //box-shadow: inset 1px 1px 0px rgba(255,255,255,0.3);
  box-shadow: 0 0 3px rgba(0,0,0, 0.3), inset 1px 1px 0px rgba(255,255,255,0.3);
  @include radius(5px);
}

html body form input[type="submit"]:hover, button:hover {
  box-shadow: 0 0 0px rgba(0,0,0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.9);
  //border: none;
}

.togglable {
  .click_toggler {
    cursor: pointer;
  }
  .click_toggler:before {
    content: "+";
    padding-right: 1em;
    font-size: 0.7em;
  }
  .toggler_content {
    overflow: hidden;
    max-height: 0px;
    @include transition-out(0.5s);
  }
}

.togglable.open {
  .click_toggler:before {
    content: "-";
    padding-right: 1em;
    font-size: 0.7em;
  }
  .toggler_content {
    max-height: 400px;
    @include transition-out(0.5s);
  }
}