// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3 { color: black; }
ul.activated_services {
    h3 {
        background-color: green;
    }
}

ul.disabled_services {
    h3 {
        background-color: red;
    }
}