// Place all the styles related to the Services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

#mobile #content{
  h3 {
    font-size: 1.6em;  
    padding: 4px;
    width: 60%;
  }
  
}
#content {
  h2 {
    padding: 0.5em;
    @include uniform_gradient(#333, #555);
    color: #EEE;
    font-family: Helvetica, 'HelveticaNeueUltraLight';
    text-shadow: 1px 1px 0 black;
    border-bottom: 1px solid #777;
    box-shadow: 0 1px 0 white, inset 0 1px 0 #777;
    border-top: 1px solid #333;
  }
  
  h2:first-child {
    @include radiusTopRight(3px);
  }

  h3 { color: black; }
  ul.activated_services {
      h3 {
          //background-color: green;
      }
  }
  
  ul.disabled_services {
      opacity: 0.7;
      h3 {
          //background-color: red;
      }
  }
  
  .top {
    display: table;
    width: 100%;
    border-bottom: 1px solid #333;
    //background: #c20505;
    //box-shadow: inset 1px 1px 0 #e71313;
    @include uniform_gradient(#a20003, #e10000);
    @include radiusTop(4px);
    box-shadow: -1px 0px 0 #333, 0px -1px 0 #333, 1px 0px 0 #333;
    > * {
      display: table-cell;  
      vertical-align: middle;
    }
    button.no_button {
      background : transparent;
      margin     : 0;
      border     : none;
      font-family: 'HelveticaNeue';
      color      : white;
      font-size  : 1em;
      text-shadow: 1px 1px 0px black;
      line-height: 2em;
      cursor     : pointer;
      text-align : center;
      width: 100%;
      border-left: 1px solid #333;
      box-shadow: inset 1px 0px 0px #e71313;
      padding: 5px 0 4px 0;
    }
    button:hover {
        @include uniform_gradient(#bc0003, #fb0000);
      @include radiusTopRight(4px);
      cursor     : pointer;
    }
    button:active {
      box-shadow: 0 0 0px rgba(0,0,0, 0.3), inset 1px 1px 2px rgba(0, 0, 0, 0.9);
      cursor     : pointer;
      @include radiusTopRight(4px);
    }
    h3 {
      width: 80%;
      margin: 0;
      font-family: 'HelveticaNeueLight';
      font-size: 2em;
      color: black;
      text-shadow: #e71313 1px 1px 0px;
      padding: 5px 0 4px 0;
      padding-left: 0.5em;
      box-shadow: inset 1px 0px 0px #e71313;
    }
  }
  
  
  .middle {
    display: table;
    width: 100%;
    border-spacing: 20px;
    > * {
        display: table-cell;
        vertical-align: top;
    }
    > img {
        height: 100px;
        background-color: white;
        padding: 50px;
        //border: 5px solid white;
        box-shadow: inset 1px 0 0 white, inset -1px 0 0 white, inset 0px -1px 0 white, inset 0px 1px 0 white, 0px 0px 3px rgba(0, 0, 0, 0.3);
        height          : 100px;
        background-color: #F3F3F3;
        padding         : 10px;
        border          : 1px solid #AAA;
        border-radius: 1px;
        //box-shadow      : inset 0px 0px 3px rgba(0, 0, 0, 0.3);
    }
  }
  .price, .address, .description {
    padding-left: 10px;
  }
  .price:before {
    content: "Tarifs :";
    font-weight: bold;
    padding-right: 0.5em;      
  }
  .address:before {
    content: "Adresse :";
    font-weight: bold;
    padding-right: 0.5em;        
  }
  .description {
    margin-bottom: 1em;
  }
  .description:before {
    content: "Description :";
    font-weight: bold;
    padding-right: 0.5em;  
  }
  .more_info {
    font-family: 'HelveticaNeue';
    @include uniform_gradient(#EEE, #FFF);
    text-align: center;
    text-shadow: 1px 1px 0px rgba(255,255,255,1);
    cursor: pointer;
    border-top: 1px solid #AAA;
    color: #333;
    font-size: 1.1em;
    padding: 2px;
    text-shadow: white 1px 1px 0px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3);
    @include radiusBottom;
  }
  .more_info:hover {
    background: white;
  }
  .more_info:active {
    cursor: pointer;
    font-family: 'HelveticaNeue';
    @include uniform_gradient(#FFF, #EEE);
    border-top: 1px solid #999;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
  }
  .toggler_content .more {
    padding-left: 10px;
  }
  
  .no_data {
    padding: 0.5em;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
  }
}

#mobile #content .middle {
  border-spacing: 10px;
  > * {
    display: block;
  }
  img {
    float: left;
    margin-right: 1em;
  }
}