// Place all the styles related to the Weddings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'base';

/*
html, body {
  background-color: #F5F5F5;
}
*/

#left {
  border-right: 1px solid #c6c9ce;
  background: -webkit-linear-gradient(rgba(245, 235, 235, 0.2), #ecdbdb),
              -webkit-linear-gradient(left, rgba(245, 235, 235, 0), rgba(245, 235, 235, 0) 97%, #dcc6c9);
  background-color: #f5ecec;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 215px;
  z-index: 2;
  
  ul {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #e10000;  
    li {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      color: #333;
      cursor: pointer;
      display: block;
      font-size: 150%;
      outline: none;
      padding: 7px 0;
      text-align: right;
      text-shadow: white 0 1px 0px;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-right: 12px;
/*
      &:after {
        content: " ";
        float: right;
        display: block;
        padding-left: 0.5em;
        font-size: 0.8em;
        color: white;
        height: 10px;
        width: 10px;
        background-color: #333;
        @include radius(1em);
      }
*/
      &:hover {
        //background-color: #ECECEC;
      }
      &:after {
        background-image: image-url("flower.png");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        padding-left: 1em;
        float: right;
      }
      &.selected {
        -webkit-box-shadow: 0px 1px 0px #f7f7f7;
        background: -webkit-linear-gradient(left, #f3c3c3, #f3c3c3 97%, #dfacc8);
        border-bottom: 1px solid #e10000;
        border-top: 1px solid #e10000;
        color: black;
        text-shadow: #bbcee9 0 1px 0px;
      }
    }
    /*
li:first-child {
      @include radiusTop(5px);
    }
    li:last-child {
      @include radiusBottom(5px);
    }
*/
  }
}

#content {
  display: inline-block;
  margin-left: 215px;
  padding: 0;
  ul {
    list-style: none;
    li {
      border: 1px solid #808080;
      @include radius(5px);
      margin-bottom:1em;
      margin-top:1em;
      background: white;
    }
  }
  img {
    display: inline-block;
    max-height: 15em;
  }
}