@import 'base';


body {
  background-color: #EFEFEF;
}

#left {
  border-right: 1px solid #c6c9ce;
  background-color: #333;
  box-shadow: inset -3px 0 9px rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 215px;
  z-index: 2;
  
  ul {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #e10000;  
    li {
      border-bottom: 1px solid transparent;
      border-top: 1px solid transparent;
      color: #CCC;
      cursor: pointer;
      display: block;
      font-size: 175%;
      outline: none;
      padding: 7px 0;
      text-align: right;
      text-shadow:  1px 1px 0px #666; 
      padding-bottom: 20px;
      padding-top: 20px;
      padding-right: 20px;
      font-family: 'HelveticaNeueLight';
      &:hover {
        //background-color: #ECECEC;
      }
      &:after {
        background-image: image-url("flower.png");
        background-repeat: no-repeat;
        background-position: 0% 50%;
        padding-left: 1em;
        float: right;
      }
      &.selected {
        //box-shadow: inset 0px -5px 5px rgba(50, 50, 50, 0.8);
         box-shadow: inset -3px 0 9px rgba(0,0,0,0.5); 
        background: -webkit-linear-gradient(left, #f3c3c3, #f3c3c3 97%, #dfacc8);
        background: #c70000;
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
        color: black;
        text-shadow: #e71313 1px 1px 0px;
      }
    }
  }
}

#content {
  display: inline-block;
  margin-left: 215px;
  padding: 0;
  ul {
    list-style: none;
    li {
      border: 1px solid #808080;
      @include radius(5px);
      margin-bottom:1em;
      margin-top:1em;
      background: white;
    }
  }
  img {
    display: inline-block;
    max-height: 15em;
  }
}